.App {
  text-align: center;
}

/* nav{
  position: absolute;
 display: table;
 justify-content: space-around; */
 /* align-items: center; */
 /* min-height: 100vh;
 background: rgb(62, 68, 87);
 width: 12rem;
} */
/* .nav-links{
  width: 50%;
  display: table;
  justify-content: space-between;  */
  /* align-items:center; */
  /* list-style: none;
  margin-top: 5rem;
  height: 100px;
} */
/* .side-bar{
  display: flex;
  justify-content: center;
} */
.nav{
  flex-wrap: nowrap !important;
}
.nav-items{
  width: 50%;
  display: table;
  justify-content: space-between;  
  align-items:center;
  list-style: none;
  margin: 0 0 3px 0;
  background: rgb(69, 14, 221);
  width: 14rem;
  min-height: 100vh;
  
}
li{
  /* margin-top: 9rem;
  justify-content: start;
  align-items: center;
  padding: 9px 0px 8px 16px;
  list-style: none;
  height: 60px;
  color: rgb(28, 226, 38); */
  width: auto;
    margin-top: 40.5%;
    list-style-type: none;
    display: block;
    margin-left: -65px;
    color: black;
  
}
.login-form{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%; */
}
.login{
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.search{
  width: 47rem;
  height: 3rem;
  margin-left: -4rem;
}
.content{
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.card{
  display: flex;
  justify-content: center;
  border: 28px; 
  border: 6px solid lightblue; 
  width: 98%;
  height: 100%; 
} 
.shop-items{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}